<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.communitypension.communitypensionadmin.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.communitypension.communitypensionadmin.entity.Role">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="role_key" property="roleKey"/>
        <result column="role_sort" property="roleSort"/>
        <result column="data_scope" property="dataScope"/>
        <result column="menu_check_strictly" property="menuCheckStrictly"/>
        <result column="status" property="status"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, role_name, role_key, role_sort, data_scope, menu_check_strictly, status, del_flag, create_by, create_time, update_by, update_time, remark
    </sql>

    <!-- 分页查询角色列表 -->
    <select id="selectRoleList" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM role
        <where>
            <if test="role != null">
                <if test="role.roleName != null and role.roleName != ''">
                    AND role_name like concat('%', #{role.roleName}, '%')
                </if>
                <if test="role.status != null and role.status != ''">
                    AND status = #{role.status}
                </if>
                <if test="role.roleKey != null and role.roleKey != ''">
                    AND role_key like concat('%', #{role.roleKey}, '%')
                </if>
                <if test="role.dataScope != null and role.dataScope != ''">
                    AND data_scope = #{role.dataScope}
                </if>
            </if>
            AND del_flag = '0'
        </where>
        ORDER BY role_sort
    </select>

</mapper>