HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.windsurfrules

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Project Specific ###
# 忽略所有 docs 目录
docs/
**/docs/

# 忽略所有 Cursor 编辑器相关文件
.cursorrules
.cursorignore
**/.cursor/
**/.cursorrules
**/.cursorignore

# 特定文件
.lingma/
init.md
todo.md
记忆规则说明.md

show_tables.sql
health_records.sql

# 忽略所有 .sql 文件
*.sql
show_tables.sql


