HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.cursorrules
.cursorignore
.community-pension-frontend/.cursor/rules/vue.mdc

### Project Specific ###
.lingma/
docs/
.cursor/rules/
.cursorrules
.cursorignore
community-pension-admin/docs/
community-pension-admin/.cursor/rules/
community-pension-admin/.cursorrules
community-pension-admin/.cursorignore

community-pension-frontend/docs/
community-pension-frontend/.cursorrules
community-pension-frontend/.cursorignore
community-pension-frontend/.cursor/rules/
**/.cursor/

